@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar  {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(255, 189, 189),rgb(192, 167, 201),rgb(155, 155, 243));
    border-radius: 15px;
}

.bg {
    background-image: url("images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.title {
    display: flex;
    margin: 5px 30px;
    padding: 12px;
    font-size: 40px;
}

.title li {
    list-style: none;
    margin: auto;
    padding: 12px;
    font-family: 'Roboto Serif', serif;
    
}

.title li a {
    text-decoration: none;
    color: black;
    
}

.naviContainer {
    display: flex;   
    margin: 0px 30px;
    padding: 12px;
    font-size: 30px;
}

.naviContainer li {
    list-style: none;
    margin: 10px 20px;
    padding: 12px;
    cursor: pointer;
    font-family: 'Roboto Serif', serif;
    position: relative;
}
.naviContainer li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.naviContainer li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: rgb(254, 254, 254);
    transition: all ease 0.3s;
}

.naviContainer li a:hover:after {
    width: 100%;
}

.naviContainer li a:hover {
    transition: .2s;
    color: rgb(255, 255, 255);
}

.fa-angle-down{
    position: absolute;
    top: 39px;
}


/* location */
.location-page{
    height: 50vh;
    width: 100%;
    background-color: #598EB6;
    display: flex;
}

.location-box{
    background-image: url(images/map_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 32vh;
    width: 45%;
    margin: 8vh 6vw;
}

.location-content{
    background-color: black;
    height: 42vh;
    width: 55%;
    margin: 4vh 2vw;
}

.about-page{
    height: 100vh;
    width: 100%;
    background-color: #598EB6;
}

/* ABOUT PAGE */
.about-page{
    background-color: #598EB6;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.about-box{
    height: 80vh;
    width: 50%;
    /* background-color: red; */
    padding: 2vw 3vw;
    margin: 0 3vw;
}

.about-title{
    height: 20%;
}
.about-content{
    margin: 45px 0;
}

.about-content p{
    /* line-height: 25px; */
    font-size: 1.5rem;
}

.button{
    background-color: white;
    width: 20%;
    display: flex;
    height: 7%;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;;
    border-radius: 0%;
    cursor: pointer;
}

.img-box{
    background-image: url(images/water_supply_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 50%;
    margin: 8vh 6vw;
}

.line{
    height: 2px;
    background-color: #598EB6;
}

.line1{
    height: 2px;
    background-color: black;
    margin: 0 60px;
}


/* contact  */

.contact-page{
    background-color: #598EB6;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-box{
    height: 80vh;
    width: 65%;
    background-color: rgb(255, 255, 255);
    margin-right: 6vw;
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-title{
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.contact-content{
    width: 72%;
    margin-top: 30px;
}
.contact-input{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.contact-input-firstname{
    display: flex;
    flex-direction: column;
    color: #000;
    gap: 10px;

}
.contact-input-lastname{
    display: flex;
    flex-direction: column;
    color: #000;
    gap: 10px;

}

.Contact-input-email{
    display: flex;
    flex-direction: column;
    color: #000;
    height: 10vh;
    gap: 10px;

}
.Contact-input-mobileno{
    display: flex;
    flex-direction: column;
    color: #000;
    height: 10vh;
    gap: 10px;


}
.Contact-input-address{
    display: flex;
    flex-direction: column;
    color: #000;
    height: 10vh;
    gap: 10px;

}
.Contact-input-mess{
    display: flex;
    flex-direction: column;
    color: #000;    
    gap: 10px;

}

input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
}
textarea{
    outline: 0;
}

.Services-box{
    height: 65vh;
    width: 25%;
    background-color: #72A1BC;
    position: absolute;
    top: 16.4vh;
    right: 64vw;
}

.Services-title{
    /* background-color: red; */
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    margin: 10px 0;
    font-weight: 400;
}

.cards-page{
    height: 100vh;
    width: 100%;
    background-image: url(images/cards_bg.jpg);
    background-position: center;
    block-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-row-gap: 5vh;
    grid-column-gap: 5vw;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 40vh 40vh; */
}

.card1-box{
    height: 40vh;
    width: 25%;
    background-color: #2A73B6;
    margin: 80px 80px;
}
.card2-box{
    height: 40vh;
    width: 25%;
    background-color: #1D91FC;
    margin: 80px 80px;
}